<a href="https://colab.research.google.com/github/4060e031/AI_and_security_2020/blob/master/20201021_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.527908  0.119234 -0.199948  0.869702
2013-01-02 -0.803698 -1.244155 -0.729056 -0.903155
2013-01-03  0.943929 -1.506731 -0.445208  0.942143
2013-01-04  1.061784  0.090861 -0.311975  0.171597
2013-01-05  0.989881  0.328507 -0.220797  0.695870
2013-01-06 -0.777375 -0.091335  1.324197 -0.470286

In [4]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo

In [5]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [6]:
df.head(5)

                   A         B         C         D
2013-01-01  0.527908  0.119234 -0.199948  0.869702
2013-01-02 -0.803698 -1.244155 -0.729056 -0.903155
2013-01-03  0.943929 -1.506731 -0.445208  0.942143
2013-01-04  1.061784  0.090861 -0.311975  0.171597
2013-01-05  0.989881  0.328507 -0.220797  0.695870

In [7]:
df.tail(5)

                   A         B         C         D
2013-01-02 -0.803698 -1.244155 -0.729056 -0.903155
2013-01-03  0.943929 -1.506731 -0.445208  0.942143
2013-01-04  1.061784  0.090861 -0.311975  0.171597
2013-01-05  0.989881  0.328507 -0.220797  0.695870
2013-01-06 -0.777375 -0.091335  1.324197 -0.470286

In [8]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.323738 -0.383936 -0.097131  0.217645
std    0.882988  0.783894  0.722867  0.762933
min   -0.803698 -1.506731 -0.729056 -0.903155
25%   -0.451054 -0.955950 -0.411900 -0.309815
50%    0.735918 -0.000237 -0.266386  0.433734
75%    0.978393  0.112141 -0.205160  0.826244
max    1.061784  0.328507  1.324197  0.942143

In [11]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.527908   -0.803698    0.943929    1.061784    0.989881   -0.777375
B    0.119234   -1.244155   -1.506731    0.090861    0.328507   -0.091335
C   -0.199948   -0.729056   -0.445208   -0.311975   -0.220797    1.324197
D    0.869702   -0.903155    0.942143    0.171597    0.695870   -0.470286

In [12]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.869702 -0.199948  0.119234  0.527908
2013-01-02 -0.903155 -0.729056 -1.244155 -0.803698
2013-01-03  0.942143 -0.445208 -1.506731  0.943929
2013-01-04  0.171597 -0.311975  0.090861  1.061784
2013-01-05  0.695870 -0.220797  0.328507  0.989881
2013-01-06 -0.470286  1.324197 -0.091335 -0.777375

In [13]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06 -0.777375 -0.091335  1.324197 -0.470286
2013-01-05  0.989881  0.328507 -0.220797  0.695870
2013-01-04  1.061784  0.090861 -0.311975  0.171597
2013-01-03  0.943929 -1.506731 -0.445208  0.942143
2013-01-02 -0.803698 -1.244155 -0.729056 -0.903155
2013-01-01  0.527908  0.119234 -0.199948  0.869702

In [14]:
df['A']

2013-01-01    0.527908
2013-01-02   -0.803698
2013-01-03    0.943929
2013-01-04    1.061784
2013-01-05    0.989881
2013-01-06   -0.777375
Freq: D, Name: A, dtype: float64

In [15]:
df[0:3]

                   A         B         C         D
2013-01-01  0.527908  0.119234 -0.199948  0.869702
2013-01-02 -0.803698 -1.244155 -0.729056 -0.903155
2013-01-03  0.943929 -1.506731 -0.445208  0.942143

In [19]:
df[3:6]

                   A         B         C         D
2013-01-04  1.061784  0.090861 -0.311975  0.171597
2013-01-05  0.989881  0.328507 -0.220797  0.695870
2013-01-06 -0.777375 -0.091335  1.324197 -0.470286

In [16]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.803698 -1.244155 -0.729056 -0.903155
2013-01-03  0.943929 -1.506731 -0.445208  0.942143
2013-01-04  1.061784  0.090861 -0.311975  0.171597

In [20]:
df['20130104':'20130106']

                   A         B         C         D
2013-01-04  1.061784  0.090861 -0.311975  0.171597
2013-01-05  0.989881  0.328507 -0.220797  0.695870
2013-01-06 -0.777375 -0.091335  1.324197 -0.470286

In [21]:
df.loc[dates[0]]

A    0.527908
B    0.119234
C   -0.199948
D    0.869702
Name: 2013-01-01 00:00:00, dtype: float64

In [22]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  0.527908  0.119234
2013-01-02 -0.803698 -1.244155
2013-01-03  0.943929 -1.506731
2013-01-04  1.061784  0.090861
2013-01-05  0.989881  0.328507
2013-01-06 -0.777375 -0.091335

In [23]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02 -0.803698 -1.244155
2013-01-03  0.943929 -1.506731
2013-01-04  1.061784  0.090861

In [24]:
df.loc[dates[0], 'A']
df.at[dates[0], 'A']

0.5279081692371816

In [25]:
df.iloc[3]

A    1.061784
B    0.090861
C   -0.311975
D    0.171597
Name: 2013-01-04 00:00:00, dtype: float64

In [26]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  1.061784  0.090861
2013-01-05  0.989881  0.328507