<a href="https://colab.research.google.com/github/4060e031/AI_and_security_2020/blob/master/20201021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.639669 -1.196473  1.180956  2.019881
2013-01-02  0.001400 -1.441949 -1.980825 -0.327770
2013-01-03  0.629010 -1.270682 -2.281614 -0.436970
2013-01-04 -1.520913  0.478653  0.131235  0.726202
2013-01-05  0.524850 -1.140774 -1.405952 -0.271332
2013-01-06  0.167695 -2.142405 -0.171337 -1.118723

In [11]:
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20201021'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df.head()

                   A         B         C         D
2013-01-01  0.639669 -1.196473  1.180956  2.019881
2013-01-02  0.001400 -1.441949 -1.980825 -0.327770
2013-01-03  0.629010 -1.270682 -2.281614 -0.436970
2013-01-04 -1.520913  0.478653  0.131235  0.726202
2013-01-05  0.524850 -1.140774 -1.405952 -0.271332

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.520913  0.478653  0.131235  0.726202
2013-01-05  0.524850 -1.140774 -1.405952 -0.271332
2013-01-06  0.167695 -2.142405 -0.171337 -1.118723

In [17]:
df.tail(2)

                   A         B         C         D
2013-01-05  0.524850 -1.140774 -1.405952 -0.271332
2013-01-06  0.167695 -2.142405 -0.171337 -1.118723

In [18]:
df.tail(4)

                   A         B         C         D
2013-01-03  0.629010 -1.270682 -2.281614 -0.436970
2013-01-04 -1.520913  0.478653  0.131235  0.726202
2013-01-05  0.524850 -1.140774 -1.405952 -0.271332
2013-01-06  0.167695 -2.142405 -0.171337 -1.118723

In [24]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [26]:
df.to_numpy()

array([[ 6.39668791e-01, -1.19647255e+00,  1.18095560e+00,
         2.01988093e+00],
       [ 1.40042154e-03, -1.44194892e+00, -1.98082534e+00,
        -3.27769624e-01],
       [ 6.29010464e-01, -1.27068220e+00, -2.28161449e+00,
        -4.36969770e-01],
       [-1.52091251e+00,  4.78652858e-01,  1.31235293e-01,
         7.26202058e-01],
       [ 5.24850071e-01, -1.14077354e+00, -1.40595200e+00,
        -2.71331880e-01],
       [ 1.67694717e-01, -2.14240500e+00, -1.71336896e-01,
        -1.11872301e+00]])

In [27]:
df2.to_numpy()

array([[1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-10-21 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.073619 -1.118938 -0.754590  0.098548
std    0.823296  0.864133  1.351365  1.111086
min   -1.520913 -2.142405 -2.281614 -1.118723
25%    0.042974 -1.399132 -1.837107 -0.409670
50%    0.346272 -1.233577 -0.788644 -0.299551
75%    0.602970 -1.154698  0.055592  0.476819
max    0.639669  0.478653  1.180956  2.019881

In [29]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.639669    0.001400    0.629010   -1.520913    0.524850    0.167695
B   -1.196473   -1.441949   -1.270682    0.478653   -1.140774   -2.142405
C    1.180956   -1.980825   -2.281614    0.131235   -1.405952   -0.171337
D    2.019881   -0.327770   -0.436970    0.726202   -0.271332   -1.118723

In [31]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  2.019881  1.180956 -1.196473  0.639669
2013-01-02 -0.327770 -1.980825 -1.441949  0.001400
2013-01-03 -0.436970 -2.281614 -1.270682  0.629010
2013-01-04  0.726202  0.131235  0.478653 -1.520913
2013-01-05 -0.271332 -1.405952 -1.140774  0.524850
2013-01-06 -1.118723 -0.171337 -2.142405  0.167695

In [32]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  0.167695 -2.142405 -0.171337 -1.118723
2013-01-02  0.001400 -1.441949 -1.980825 -0.327770
2013-01-03  0.629010 -1.270682 -2.281614 -0.436970
2013-01-01  0.639669 -1.196473  1.180956  2.019881
2013-01-05  0.524850 -1.140774 -1.405952 -0.271332
2013-01-04 -1.520913  0.478653  0.131235  0.726202

In [33]:
df['A']

2013-01-01    0.639669
2013-01-02    0.001400
2013-01-03    0.629010
2013-01-04   -1.520913
2013-01-05    0.524850
2013-01-06    0.167695
Freq: D, Name: A, dtype: float64

In [34]:
df[0:3]

                   A         B         C         D
2013-01-01  0.639669 -1.196473  1.180956  2.019881
2013-01-02  0.001400 -1.441949 -1.980825 -0.327770
2013-01-03  0.629010 -1.270682 -2.281614 -0.436970

In [35]:
df.loc[dates[0]]

A    0.639669
B   -1.196473
C    1.180956
D    2.019881
Name: 2013-01-01 00:00:00, dtype: float64

In [36]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  0.639669 -1.196473
2013-01-02  0.001400 -1.441949
2013-01-03  0.629010 -1.270682
2013-01-04 -1.520913  0.478653
2013-01-05  0.524850 -1.140774
2013-01-06  0.167695 -2.142405

In [37]:
df.loc['20130102':'20130104', ['A', 'B']]

                   A         B
2013-01-02  0.001400 -1.441949
2013-01-03  0.629010 -1.270682
2013-01-04 -1.520913  0.478653

In [38]:
df.loc[dates[0], 'A']

0.6396687911244935

In [39]:
df.at[dates[0], 'A']

0.6396687911244935

In [40]:
df.iloc[3]

A   -1.520913
B    0.478653
C    0.131235
D    0.726202
Name: 2013-01-04 00:00:00, dtype: float64

In [41]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -1.520913  0.478653
2013-01-05  0.524850 -1.140774

In [42]:
df.iloc[[1, 2, 4], [0, 2]]

                  A         C
2013-01-02  0.00140 -1.980825
2013-01-03  0.62901 -2.281614
2013-01-05  0.52485 -1.405952

In [43]:
df.iloc[1:3, :]

                  A         B         C        D
2013-01-02  0.00140 -1.441949 -1.980825 -0.32777
2013-01-03  0.62901 -1.270682 -2.281614 -0.43697

In [44]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -1.196473  1.180956
2013-01-02 -1.441949 -1.980825
2013-01-03 -1.270682 -2.281614
2013-01-04  0.478653  0.131235
2013-01-05 -1.140774 -1.405952
2013-01-06 -2.142405 -0.171337

In [45]:
df.iloc[1, 1]

-1.4419489152823097

In [46]:
df.iat[1, 1]

-1.4419489152823097